<footer style="padding-bottom: 30px;padding-top: 30px;">

  <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8" data-v-3a9a377e="">
    <div
      class="relative px-6 py-10 overflow-hidden bg-white border-primary border-2 shadow-xl rounded-2xl sm:px-12 sm:py-20"
      data-v-3a9a377e="">
      <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0" data-v-3a9a377e="">
        <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" data-v-3a9a377e="">
          <path class="text-primary/5" fill="currentColor"
                d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" data-v-3a9a377e=""></path>
          <path class="text-primary/10" fill="currentColor"
                d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" data-v-3a9a377e=""></path>
        </svg>
      </div>
      <div class="relative" data-v-3a9a377e="">
        <div class="flex flex-wrap justify-center w-full mx-auto sm:max-w-3xl" data-v-3a9a377e=""><img
          src="https://avatars.githubusercontent.com/u/16195211?s=40&amp;v=4" alt="User lori" class="user-avatar"
          data-v-3a9a377e=""></div>
        <div class="sm:text-center text-center">
          <p
            class=" text-xl font-black tracking-tight text-gray-900 sm:text-4xl md:text-xl md:leading-tight md:max-w-xl md:mx-auto">
              {{author}}<span class="text-primary">.</span>

          </p>
        </div>
        <div class="sm:text-center">
          <p
            class=" text-xl font-black tracking-tight text-gray-900 sm:text-4xl text-center md:text-xl md:leading-tight md:max-w-xl md:mx-auto">
            <span class="text-primary mt-4 text-lg leading-relaxed sm:text-xl">
              <a href="{{repositoryUrl}}" target="_self">- Angular Repository GitHub-</a>
            </span>

          </p>
        </div>
        <div class="mt-6 sm:mt-12 sm:text-center">
          <p
            class=" text-xl font-black tracking-tight text-gray-900 sm:text-4xl text-center md:text-xl md:leading-tight md:max-w-xl md:mx-auto">
            <span class="text-primary mt-4 text-lg leading-relaxed sm:text-xl">
              <a href="{{swaggerUrl}}" target="_self">
              Swagger Api</a>.
            </span>

          </p>
        </div>

        <div class="mt-6 sm:mt-12 sm:text-center" data-v-3a9a377e=""><h2
          class="text-3xl font-black tracking-tight text-gray-900 sm:text-4xl text-center md:text-5xl md:leading-tight md:max-w-4xl md:mx-auto"
          data-v-3a9a377e="">{{company}}<span class="text-primary" data-v-3a9a377e="">.</span></h2></div>
        <div class="mt-6 sm:mt-12 sm:mx-auto sm:max-w-lg flex flex-col items-center" data-v-3a9a377e=""></div>
      </div>
    </div>
  </div>
</footer>
