<div class="top">
  <div
    class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-6 xl:gap-12 2xl:gap-24">
    <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 space-y-6">

      <ng-content></ng-content>

    </div>
    <div class="mt-12 sm:mt-16 lg:mt-0">
      <!--              https://stories.freepiklabs.com/storage/12167/Soccer-01.svg-->
      <!--              https://stories.freepiklabs.com/storage/13287/395-Soccer_Artboard-1.svg-->
      <!--              https://stories.freepiklabs.com/storage/2565/276-Missed-chances_Artboard-1.svg-->
      <div
        class="pl-4 sm:-mr-48 sm:-mr-6 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center">
        <img class="lg:left-0 w-full lg:absolute lg:w-auto lg:max-w-xl xl:max-w-2xl 2xl:max-w-3xl rounded"
             src="{{imageUrl}}"
             alt="{{alt}}"></div>
    </div>
  </div>
</div>
